.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: sans-serif;
  padding: 10px;
  background-color: #eeeeee;
}
.Header h1 {
  margin: 10px;
  color: gray;
  text-align: center;
}
#Navigation ul {
  list-style: none;
  padding: 10px;
  width: 95%;
  display: inline-flex;
  background-color: gray;
  margin: 0;
}
#Navigation a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}
#Navigation a:hover {
  color: lightgrey;
}
.Search {
  /*background-color: #ddddff;
  border: 2px solid gray;*/
  padding: 20px;
  width: 90%;
}
.Search label {
  /*color: gray;*/
  font-size: 1.2em;
}
.Search input {
  margin: 0 20px 0 5px;
  font-size: 1.1em;
}
.Search button {
  /*background-color: #daedf4;
  color: gray;
  border: 2px solid gray;*/
  border-radius: 10px;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
}
.Search button:hover {
  background-color: gray;
  color: #daedf4;
}

.Footer {
  text-align: center;
  font-size: 0.9em;
  color: gray;
  padding: 5px;
  margin-top: 20px;
}
